@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto Slab', serif;
}

.bg-gradient-hovered {
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #4b5563, #6b7280, #9ca3af, #4b5563);
}

.bg-gradient-hovered:hover {

    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}